.v-miniprogram {
    .m-database-tabs {
        .u-icon, .u-count {
            display: none;
        }
    }
    .m-database-item .m-item .u-title {
        .u-section:first-of-type {
            width: 100%;
        }
        .u-section:last-of-type {
            justify-content: flex-start;
        }
    }
}