.v-miniprogram {
    // nav
    .u-app-title, .m-app-nav {
        .none;
    }

    .c-breadcrumb {
        .none;
    }

    .m-archive-search {
        .none;

        &.is-phone {
            .db;

            .el-input-group__prepend {
                .x;
                padding: 0;
                width: 40px;
            }
        }
    }

    .m-archive-box {
        padding-top: 10px;
    }

    .c-sidebar-left {
        top: 0;
    }

    .m-archive-pages{
        .none;
    }
}
